body{
    background-color:black;
    color:white;
}
.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}
img{
  width: 700px;
}
h1{
    text-decoration: underline;
}
#result, h4{
    font-size: 36px;

}
#userChoice, #computerChoice, em{
    font-size: 24px;
}
#result{
    margin-right: 70px;
}